[2017-09-12 18:20] markconroy opened #1 "How to Build the Styleguide"
This is an issue to tease out how we will build the styleguide (and I guess where development and discussion about this should happen - here or Drupal.org).

In the short term, and just so we can get moving, I am going to start working with the following methodology.

Create a prototype of each feature using PHP, e.g.
- header
- footer
- teaser view mode
- node full view mode
- etc

We can then ma

[2017-09-15 15:34] ckrina commented on #1
+1 to this approach, it makes sense!

[2017-09-29 11:05] lauriii commented on #1
During DrupalCon we decided to use KSS to build the style guide. I just updated the readme with the instructions so I'm closing this.

[2017-09-29 11:05] #1 closed, assigned to nobody

[2017-10-09 16:59] markconroy opened #12 "Guidelines: Umami Brand"
We need to set some documentation for the Umami brand -

What it is, why it's like it is, etc.

[2017-10-09 16:59] markconroy opened #13 "Guidelines: Principles"

[2017-10-09 17:40] markconroy opened #14 "Guidelines: Accessibility"
We need to set guidelines for accessibility.

Currently, Drupal 8 aims for WCAG 2.0 AA. However, by the time our theme is stable, WCAG 2.1 will have been released, so it probably makes sense for us to aim for that.

[2017-10-09 17:40] markconroy opened #15 "General Styles: Colors"

[2017-10-09 17:40] markconroy opened #16 "General Styles: Grids"

[2017-10-09 17:40] markconroy opened #17 "General Styles: Iconography"

[2017-10-09 17:41] markconroy opened #18 "General Styles: Motion"

[2017-10-09 17:41] markconroy opened #19 "General Styles: Typography: Headings"

[2017-10-09 17:41] markconroy opened #20 "General Styles: Typography: Text"

[2017-10-09 17:41] markconroy opened #21 "General Styles: Typography: Links"

[2017-10-09 17:42] markconroy opened #22 "Components: View Mode: Full"

[2017-10-09 17:42] markconroy opened #23 "Components: View Mode: Teaser"

[2017-10-09 17:42] markconroy opened #24 "Components: View Mode: Highlighted Top"

[2017-10-09 17:42] markconroy opened #25 "Components: View Modes: Highlighted Bottom"

[2017-10-09 17:42] markconroy opened #26 "Components: View Modes: Highlighted Small"
#https://github.com/lauriii/umami/pull/69

[2017-10-09 17:43] markconroy opened #27 "Components: Banner: Left"

[2017-10-09 17:43] markconroy opened #28 "Components: Banner: Right"

[2017-10-09 17:43] markconroy opened #29 "Components: Form: Button"

[2017-10-09 17:43] markconroy opened #30 "Components: Form: Checkbox"

[2017-10-09 17:43] markconroy opened #31 "Components: Form: Radio"

[2017-10-09 17:44] markconroy opened #32 "Components: Form: Input"

[2017-10-09 17:44] markconroy opened #33 "Components: Form: Label"

[2017-10-09 17:44] markconroy opened #34 "Components: Form: Textarea"

[2017-10-09 17:44] markconroy opened #35 "Components: Form: Select"

[2017-10-09 17:44] markconroy opened #36 "Components: Blocks: Search Box"

[2017-10-09 17:45] markconroy opened #37 "Components: View Mode: Search Result"

[2017-10-09 17:45] markconroy opened #38 "Components: Content List: 1 Col"

[2017-10-09 17:45] markconroy opened #39 "Components: Content List: 2 Col"

[2017-10-09 17:45] markconroy opened #40 "Components: Content List: 3 Col"

[2017-10-09 17:45] markconroy opened #41 "Components: Content List: 4 Col"

[2017-10-09 17:45] markconroy opened #42 "Components: Content List: List"

[2017-10-09 17:45] markconroy opened #43 "Components: Collection List"

[2017-10-09 17:46] markconroy opened #44 "Components: Blocks: Login Block"

[2017-10-09 17:46] markconroy opened #45 "Components: Magazine List"

[2017-10-09 17:46] markconroy opened #46 "Components: View Mode: Magazine Promo"
We might need a more generic name than 'Magazine Promo'

[2017-10-09 17:47] markconroy opened #47 "Components: View Mode: Magazine Promo Small"
We might need a more generic name than "Magazine Promo Small"

[2017-10-09 17:48] markconroy opened #48 "Components: System Messages"
Related: #114

[2017-10-09 17:48] markconroy opened #49 "Components: Navigation: Main Menu"

[2017-10-09 17:48] markconroy opened #50 "Components: Navigation: More Link"

[2017-10-09 17:48] markconroy opened #51 "Components: Full Node: Article"

[2017-10-09 17:49] markconroy opened #52 "Components: Full Node: Recipe"

[2017-10-09 17:49] markconroy opened #53 "Components: Full Node: Page"

[2017-10-09 17:49] markconroy opened #54 "Components: Regions: Top"

[2017-10-09 17:49] markconroy opened #55 "Components: Regions: Bottom"

[2017-10-09 17:49] markconroy opened #56 "Components: Regions: Header"

[2017-10-09 17:50] markconroy opened #57 "Components: Regions: Footer"

[2017-10-09 17:50] markconroy opened #58 "Components: Regions: Main"

[2017-10-09 17:50] markconroy opened #59 "Components: Regions: Sidebar"

[2017-10-09 17:50] markconroy opened #60 "Components: Layouts: 1 Col"

[2017-10-09 17:50] markconroy opened #61 "Components: Layouts: 2 Col"

[2017-10-09 17:51] markconroy opened #62 "Components: Blocks: Branding Block"

[2017-10-09 17:51] markconroy opened #63 "Components: Image Styles"
highlighted-large - used on the "Highlighted Top/Bottom" view modes See: #24 #25
highlighted-small - used on the "Highlighted Small" view mode See: #26
body-image - images uploaded via the WYSIWYG See: ??

[2017-10-09 17:52] markconroy commented on #63
Do we need to use responsive images here?

[2017-10-09 17:52] markconroy opened #64 "Components: Navigation: Tabs"

[2017-10-12 10:58] ckrina commented on #63
I'd say... yes? I'd expect the same markup in a styleguide. Also, it can force us decide some breakpoints and I think that's good. Anyway, I don't have a strong preference and I'd be fine with css-scaled images on the styleguide.

[2017-10-12 18:02] thamas commented on #50
What is the more link @ckrina? Is it the buttons section in the styleguide pdf?

[2017-10-12 18:05] thamas commented on #64
Are we talking about the Drupal's content tabs (View, Edit etc.)?

[2017-10-12 18:07] thamas commented on #62
A logo svg is needed to be possibel to create this.

[2017-10-12 18:12] thamas commented on #36
Search icon is needed

[2017-10-12 19:44] markconroy commented on #36
<?xml version="1.0" encoding="UTF-8"?>
<svg width="20px" height="20px" viewBox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">

    <title>noun_932673_00A388</title>
    <desc>Created with Sketch.</desc>
    <defs></defs>
    <g id="Front-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Umami---Front---Sketch

[2017-10-12 19:45] markconroy commented on #62
logo svg is in the components >> blocks >> branding folder

[2017-10-12 19:46] markconroy commented on #64
Yes,

View | Edit | Delete | Devel

Login | Create Account | Forgot Password

etc

[2017-10-12 19:47] markconroy commented on #50
It's the 'read more' (view recipe in this case) link as far as I know.
![screen shot 2017-10-12 at 20 46 52](https://user-images.githubusercontent.com/2183332/31515827-8789e2a8-af8e-11e7-9418-048758bf56cf.png)

[2017-10-12 20:06] #19 closed, assigned to markconroy

[2017-10-13 09:03] thamas commented on #64
OK.  As I know there is no design for that. So it will be designed by the one who creates this component?

[2017-10-13 09:04] thamas commented on #50
OK, thx!

[2017-10-13 09:05] thamas commented on #62
You are right, Sir! :)
Thanks!

[2017-10-13 09:39] markconroy commented on #64
I guess so.

I have a standard design for mine that I use on all my sites now. Basically, black background, white links, and place at the top of the page under the toolbar so they are always at the same place no matter whether they are the user login/password links or the node edit/view links.
login links:
![screen shot 2017-10-13 at 10 39 53](https://user-images.githubusercontent.com/2183332/3154

[2017-10-13 10:25] #20 closed, assigned to markconroy

[2017-10-13 13:54] markconroy commented on #26
#https://github.com/lauriii/umami/pull/69

[2017-10-14 09:39] markconroy opened #70 "Umami Theme - Base Theme"
Now that work has started we need to standardise on class names. So far I have been using the same class names that classy gives us. What are we going to use - classy, stable, none.

This was discussed in Vienna:

Pros for Classy (or stable):
- Developers are used to these class names from Drupal 6 to Drupal 7 to Drupal 8, so might make it easier for new developers to come on board in the earlier

[2017-10-14 09:41] markconroy opened #71 "Folder Structure"
Folder structure - we now have a decent amount of work done on the theme/styleguide. How is the folder structure working? Anything we need to change immediately, or should we just keep working for now?

[2017-10-15 09:04] thamas commented on #70
As I started to work on components using the markup (and class names) comes from classy I feel that there are a lot of stuff not needed for this design and also there are things that are not consistent. E.g. our CSS Coding Standards says that we should use BEM style class naming but I miss it some times or feel it is based on CMS logic not on thje logic of the comtent structure we have.

So if we

[2017-10-15 14:14] thamas opened #73 "Assets aren't moved to the styleguide"
It seems that our build task do not copy img / svg assets to the generated styleguide folder. (Or I do not know how to do it.)

@mariohernandez any ideas?

[2017-10-16 07:20] thamas commented on #71
I think we can keep working for now and modify structure if needed. But we also have to have a plan. As we plan to connect this living styleguide with Drupal we should build a structure which makes sense for that. Which makes easy to find the related templates both in the styleguide and in drupal theme template structure.

Also becuause this is a CSS styleguide and we write a lot of CSS we should

[2017-10-16 12:58] thamas opened #74 "Add a Gulp watch task"
It should watch changing source files and auto rebuild. It would be nice to have Browsersync added too.

[2017-10-16 15:57] thamas commented on #70
"We should use Classy as the base theme" – it was recorded [to the meeting log](https://docs.google.com/document/d/1mF2C3K7HGg5rFv7E3UpmGcobSjDQLo18TH3BLN4ZWRo/edit#) from today.

[2017-10-17 10:28] #70 closed, assigned to nobody

[2017-10-17 10:48] thamas opened #75 "Update the logo SVG"
The logo svg should be completely vectorized (should not contain an image) and compressed (using a tool like: https://jakearchibald.github.io/svgomg/).

[2017-10-17 10:49] thamas opened #76 "Update search icon"
The search icon should be changed because the current one is commercial. It should be completely vectorized (should not contain an image) and compressed (using a tool like: https://jakearchibald.github.io/svgomg/).

[2017-10-17 10:56] ckrina opened #77 "Decide what to do with utilities like .visually-hidden"

[2017-10-17 17:35] thamas commented on #74
@markconroy's watch setting. Just to have it. :)

    gulp.task('watch', 'Watches for your changes and refreshes all the things', function() {
      var config = require('./gulpfile-config.json');
      // Set your localhost address
      browserSync.init({
        proxy: config.browserSync.proxy
      });
      // Watch .scss files
      gulp.watch(['images/sprites/*.png'], ['sprite']);
      gul

[2017-10-17 19:25] ckrina commented on #17
Still some icons to add.

[2017-10-18 06:29] thamas opened #78 "Make available external JS libs in KSS"
JS behaviors wont work in the current KSS Styleguide because we have no way to add external libraries which available in Drupal such as jQuery. We can't use Drupal.behaviors either for the same reason.

[2017-10-18 06:38] thamas opened #79 "Fix main menu's toggle behavior"
The current toggel code (#80) do not work in main menu component. It should be fixed when #78 is done.

[2017-10-21 11:09] kjays commented on #76
I have an icon ready to review, just need write permissions :)

[2017-10-22 21:36] thamas opened #81 "Components' js files are not available for the styleguide"

[2017-10-22 21:43] thamas commented on #81
The commit above (https://github.com/lauriii/umami/commit/512f68925035b4a0c5f10a8ac91d8cb809ebfe5f) is a workaround which makes available the component js file for the styleguide by hardcoding its path to the template.

[2017-10-22 21:47] thamas commented on #78
With this solution (what I learned from @mariohernandez repos) the Drupal js files became available when we move our Umami theme (including the sytle guide) into a Drupal installation (/codebase).

[2017-10-23 10:12] thamas commented on #81
See also: https://www.drupal.org/node/2852738

[2017-10-23 16:02] #36 closed, assigned to thamas

[2017-10-23 16:03] #62 closed, assigned to thamas

[2017-10-24 06:25] thamas commented on #74
Current state

- gulp watch starts BrowserSync and starts to serve the Drupal install (if you configured the local site url)
- gulp watches changes of json, js, twig and css files (in the style guide's source components folder) and
  - runs the build automatically so you don't have to do it manually (but json changes have no effect, you still have to stop and rebuild manually – I do not know the r

[2017-10-24 06:37] #76 closed, assigned to thamas

[2017-10-24 18:22] kjays commented on #75
On it :)

[2017-10-24 20:59] kjays opened #86 "Accessibility: Consider re-introducing the text over colour blocks for accessibility contrast checks"
The colours section which now uses a colour swatch has been updated to remove the text over colours work that was put in place for contrast checking. There are only a limited set of text over colour variations in the designs and we should possibly have this accessibility test setup for just these variations.

[2017-10-24 21:05] kjays commented on #15
Do we agree this issue can be closed now? I believe it was just addressed by Mario's pull request https://github.com/lauriii/umami/pull/83

[2017-10-24 21:50] kjays opened #87 "Configure the font family to fall back to appropriate system fonts"
There is the chance that Alpha will not be able to use web fonts and we should have solid system font fall back in place anyway.

[2017-10-25 05:41] thamas commented on #87
Independently of web fonts status we should set a correct system font set I think. Something like: https://css-tricks.com/snippets/css/system-font-stack/

[2017-10-25 05:43] #49 closed, assigned to thamas

[2017-10-25 05:45] thamas commented on #15
Yes, I think so.

[2017-10-25 05:45] #15 closed, assigned to kjays

[2017-10-26 20:56] #75 closed, assigned to kjays

[2017-10-27 16:06] markconroy commented on #78
@thamas

if that is the case (it works when inside a drupal folder), maybe we should add that sooner rather than later?

It will also mean we can export config that will be needed there and create any new config/fields etc that we reaslise we need as we are building.

[2017-10-27 16:58] thamas commented on #78
@markconroy Yes. I worked on these tasks because I think it would be good to add as soon as we can.

[2017-10-28 09:05] ckrina commented on #87
I agree with @thamas, even we end up using another font, a system fonts needs to be defined as fallback. Which ones fits better for you @kjays ?

[2017-10-28 09:27] ckrina commented on #21
I think we can say this one is finished with the work done at #68 .
![links](https://user-images.githubusercontent.com/2225966/32133165-ddda9f6c-bbd2-11e7-98a0-9b6cb8a46e32.png)

[2017-10-28 09:27] #21 closed, assigned to nobody

[2017-10-28 09:49] kjays commented on #87
A better description there, thank you!

That recent article you've shared on system font is interesting but I've not taken that approach before, I'm not sure how much testing that leaves us across OS types and even versions since the fonts are going to keep switching in look and feel. I'd be interested in other's experience with this approach if you've tried it. It might 'just work' :)

Otherwise,

[2017-10-28 11:59] kjays commented on #87
I think a good starting point is a simple font stack along the lines of:

font-family: 'Open sans', Verdana, sans-serif;
and
font-family: 'Scope One', Georgia, serif;

This doesn't really consider Linux very specifically other than the sans-serif/serif fall back but once we've got further down the road this can be much enhanced if we want to.

I'll create a pull request now. Attached is roughly ho

[2017-10-28 12:31] markconroy commented on #56
Pull Request for this - https://github.com/lauriii/umami/pull/88

Branch name - header

[2017-10-28 13:58] #87 closed, assigned to kjays

[2017-10-28 17:18] markconroy opened #90 "How to workaround search block in top region on desktop but header on mobile"
We need to account for how we layout the top region and header region, since on mobile they seem to share blocks - notably the search block.

See https://github.com/lauriii/umami/pull/88 for details.

Related #56

![screen shot 2017-10-28 at 18 16 56](https://user-images.githubusercontent.com/2183332/32136789-3edb94a4-bc0c-11e7-9320-096cf34d4156.png)
![screen shot 2017-10-28 at 18 17 09](https://u

[2017-10-30 16:50] markconroy opened #92 "Abandon the Styleguide"
The intention to use a styleguide was so that we could demonstrate a "best practice" approach to theming and so that others looking at our theme would follow our example.

However, due to limitations in Drupal Core, for example not having access to the styleguide's namespaces without something like Components module in core, I feel that we will not be building a "best practice" theme, but rather d

[2017-10-30 16:54] markconroy opened #93 "Write Access to Master Branch"
During today's weekly meeting, a topic was proposed about how we can develop faster - especially with a deadline coming up in 2 weeks.

I proposed that we give write access to the master branch to people actively working on the theme, namely:

- Lauri
- Mark
- Christina
- Keith
- Thamas
- Mario

At the moment, waiting for reviews of pull requests and then making changes and waiting for a new revie

[2017-10-30 17:26] kjays commented on #92
Agreed, this feels like something that could be returned to given more supporting progress in core but for now, because we want to speed things along, it's one thing less to hit blockers or speed humps on.

[2017-10-30 17:26] kjays commented on #93
And Gareth who has shared his credentials in Slack also.

[2017-10-31 21:17] thamas commented on #92
Agree.

[2017-10-31 21:29] thamas commented on #93
+1

[2017-10-31 21:37] thamas commented on #90
Do we have to have separate regions for these?

If the elements had a common parent we could vary their order with flexbox or CSS Grid (ie11 supports that part too).

If we want to keep the separation a workaround can be that we duplicate some elements in different regions and show / hide the ones needed or not inside media queries.

[2017-11-02 07:03] #74 closed, assigned to thamas

[2017-11-02 07:03] #78 closed, assigned to thamas

[2017-11-02 07:03] #56 closed, assigned to thamas

[2017-11-02 07:03] #81 closed, assigned to thamas

[2017-11-02 07:03] #73 closed, assigned to thamas

[2017-11-02 07:03] #79 closed, assigned to thamas

[2017-11-02 09:37] ckrina commented on #92
In my head building the style guide wasn't only a best practice showcase, but also a way of speeding the theme development. But it happened to be the opposite.
So as I said on the meeting, I agree on moving to a classical theming methodology regarding templates to try reach 8.5. But I'd like to keep the "components" structure for the CSS to be more future-friendly.

[2017-11-02 10:19] thamas commented on #92
We also have to follow Drupal's CSS Coding Standards in our file structure: https://www.drupal.org/docs/develop/standards/css/css-file-organization-for-drupal-8

[2017-11-02 10:38] markconroy commented on #92
Four out of or core of 6 are in agreeement, so I am going to move with it.

Thanks for the comments.

[2017-11-02 15:29] thamas commented on #64
Designs from @kjays
![umami - admin logged in tabs with status msg](https://user-images.githubusercontent.com/1244043/32334526-ed3030f0-bfea-11e7-8461-073a359699d3.jpg)
![umami - admin logged in tabs](https://user-images.githubusercontent.com/1244043/32334529-ed7415b8-bfea-11e7-9e6f-9376cb5a2c04.jpg)

[2017-11-02 19:11] kjays commented on #48
![umami - tabs with status msg - error](https://user-images.githubusercontent.com/31449148/32345057-f6a6ddbc-c000-11e7-822b-09496d645988.jpg)
![umami - tabs with status msg - status](https://user-images.githubusercontent.com/31449148/32345058-f6ca4c84-c000-11e7-9424-06f7e72f079e.jpg)
![umami - tabs with status msg - warning](https://user-images.githubusercontent.com/31449148/32345059-f6e0ad8a-c000

[2017-11-02 20:29] thamas commented on #64
Designs from @k
![umami - admin logged in tabs with status msg](https://user-images.githubusercontent.com/1244043/32334526-ed3030f0-bfea-11e7-8461-073a359699d3.jpg)
![umami - admin logged in tabs](https://user-images.githubusercontent.com/1244043/32334529-ed7415b8-bfea-11e7-9e6f-9376cb5a2c04.jpg)

[2017-11-06 07:30] #64 closed, assigned to thamas

[2017-11-06 21:47] thamas opened #97 "Button size in base.css breaks toolbar layout"
![screenshot-2017-11-06 22-39-44](https://user-images.githubusercontent.com/1244043/32465472-dacd1e30-c343-11e7-8ea1-dc7893772ca9.png)

The height setting of button in base.css is applied to the edit button of the toolbar too and that makes toolbar higher than it should be.

    button, .button, [type="button"], [type="reset"], [type="submit"] {
        …
        height: 45px;
        …

Also usin

[2017-11-07 18:55] #92 closed, assigned to nobody

[2017-11-07 18:56] markconroy commented on #77
This is not an option anymore since we are not using the styleguide - these classes are available from drupal core.

[2017-11-07 18:56] #77 closed, assigned to nobody

[2017-11-07 18:57] markconroy commented on #71
This issue has been taken care of from discussions at yesterday's meeting - basically follow a SMACSS-style folder structure.

[2017-11-07 18:57] #71 closed, assigned to nobody

[2017-11-07 19:01] markconroy commented on #35
@ckrina

Can you close this issue if you are finished working on form items? Thanks.

[2017-11-07 19:02] markconroy commented on #34
@ckrina

Can you close this issue if you are finished working on form items? Thanks.

[2017-11-07 19:02] markconroy commented on #33
@ckrina

Can you close this issue if you are finished working on form items? Thanks.

[2017-11-07 19:02] markconroy commented on #32
@ckrina

Can you close this issue if you are finished working on form items? Thanks.

[2017-11-07 19:02] markconroy commented on #32
@ckrina

Can you close this issue if you are finished working on form items? Thanks.

[2017-11-07 19:02] markconroy commented on #31
@ckrina

Can you close this issue if you are finished working on form items? Thanks.

[2017-11-07 19:04] #93 closed, assigned to nobody

[2017-11-07 19:04] markconroy commented on #93
We now have write access to master branch.

Please work on `dev` branch and we can merge periodically.

[2017-11-08 20:44] kjays opened #98 "General styles: Layout for recipe content type using experimental core field layout module"
We discussed the requirements for a core theme to support the potential for fields to be moved around by a user via the manage display settings for the recipe content type. My recollection of that conversation was that whilst we may not be able to produce styling that will aways look great given the repositioning of a field, we should not theme in such a way so as to prevent this happening.

This

[2017-11-10 13:53] kjays opened #99 "Embedding fonts and additional font weights for open sans"

[2017-11-10 16:26] kjays opened #100 "Do we want img tag to be inline-block as default or go block to remove the 6px margin bottom?"

[2017-11-11 11:19] kjays commented on #98
I'm parking this so that we can go through it in our next meeting. This needs more thinking through based on some of the gotchas I'm starting to wrap my head around.

[2017-11-11 13:19] kjays opened #102 "General styles: Layout for recipe content type"
Here's the styling work for getting the recipe content type themed as per the attached screenshot. This work does not use the experimental field layouts module. To be discussed.

<img width="1440" alt="recipe-ctype" src="https://user-images.githubusercontent.com/31449148/32689810-f25bcedc-c6e2-11e7-87a4-2ea48028c44c.png">

[2017-11-16 17:58] tomphippen opened #105 "Fix recipe-meta label/value line breaks"

[2017-11-18 15:27] kjays commented on #105
This is done

[2017-11-18 15:27] #105 closed, assigned to nobody

[2017-11-18 16:16] thamas opened #106 "Layout widths are different on recipe and recipe listing page"
…and recipe listing is narrower than the header too.

![screenshot-2017-11-18 17-11-05](https://user-images.githubusercontent.com/1244043/32982393-29fad06c-cc84-11e7-901b-471ef39a4822.png)

[2017-11-18 16:23] kjays opened #107 "Components: Banner for recipes listing page (and articles listing page)"
We need to create the Banner for the very top of recipes page. Roy's suggestion was to use a custom block type for this, something he'd done on a recent project. It demonstrates custom blocks with fields and allows a distinct background image to be uploaded. Having a distinct image is helpful because our content model only has field_image on recipes and the image used for a 3 x 2 representation wi

[2017-11-19 16:31] #35 closed, assigned to ckrina

[2017-11-19 16:32] #29 closed, assigned to ckrina

[2017-11-19 16:32] #31 closed, assigned to ckrina

[2017-11-19 16:32] #32 closed, assigned to ckrina

[2017-11-19 16:33] #33 closed, assigned to ckrina

[2017-11-19 16:33] #34 closed, assigned to ckrina

[2017-11-19 16:34] ckrina commented on #17
I guess next icons will be added with its own component.

[2017-11-19 16:34] #17 closed, assigned to ckrina, kjays

[2017-11-20 16:55] #55 closed, assigned to ckrina

[2017-11-20 16:56] #57 closed, assigned to ckrina

[2017-11-23 22:11] markconroy commented on #106
Hi @thamas

I think this should be fixed from some rework that I did on it tonight.

See here: https://github.com/lauriii/umami/commit/e39d49fe8128d4f8be62d709d1baea0256b1c0fd

[2017-11-23 22:14] markconroy commented on #100
I'm going to guess adding `line-height: 0;` to the `img` will fix that bottom margin.

[2017-11-24 06:51] ckrina commented on #48
+1 to adding icons for accessibility. @kjays do you agree?

[2017-11-24 13:49] thamas commented on #106
Hi @markconroy

Should it be seen at the platform site already? I've checked just that and the header elements still "jump" a little when I switch to the recipes listing page from a recipe or from the homepage. It is not the case if I switch to the homepage from a recipe.

[2017-11-24 20:39] mariohernandez commented on #99
Can please I get more details on what needs to happen on this issue?  Thanks.

[2017-11-24 20:43] mariohernandez commented on #63
Are we doing any drupal configuration of responsive images module in this issue?  If so, which image fields are we configuring?

[2017-11-24 20:44] mariohernandez commented on #47
How about "Featured Promo"?

[2017-11-24 20:45] mariohernandez commented on #46
How about Featured Promo?

[2017-11-24 20:47] mariohernandez opened #108 "Component: Primary tabs theming"
Theme Drupal's primary tabs block so they are presentable, visually appealing and match the overall theme.

[2017-11-24 22:01] ckrina commented on #99
Not sure if this issue might collide with the licence issues (about fonts and images). @kjays might have more info.

- https://www.drupal.org/project/drupal_lwg/issues/2916161
- https://www.drupal.org/node/2919135

[2017-11-24 22:36] ckrina commented on #63
I'd say at least the ones for:
- highlighted-large - used on the "Highlighted Top/Bottom" view modes
- highlighted-small - used on the "Highlighted Small" view mode

Not sure about the body-image one since I think it have other implications. I'd create a solo issue for that one when we start the Article detail styling. And the same for the ones on banners: let's keep it separated so issues are les

[2017-11-24 22:43] ckrina opened #109 "Create a favicon"
Not sure if we want to change the Drupal's default. Opening it for discussion.

[2017-11-24 22:47] ckrina commented on #26
Can we close this one?

[2017-11-24 22:47] ckrina commented on #25
Can we close this one?

[2017-11-24 22:47] ckrina commented on #24
Can we close this one?

[2017-11-24 22:49] #12 closed, assigned to nobody

[2017-11-24 22:49] #13 closed, assigned to nobody

[2017-11-24 22:49] #14 closed, assigned to nobody

[2017-11-24 22:49] #16 closed, assigned to nobody

[2017-11-24 22:49] #18 closed, assigned to nobody

[2017-11-24 22:49] #30 closed, assigned to nobody

[2017-11-26 21:54] thamas commented on #90
How about it?

https://codepen.io/thamas/pen/MOBVNY

[2017-11-26 23:15] mariohernandez commented on #90
I think flexbox makes sense.

[2017-11-27 08:24] thamas commented on #90
@kjays Please check it! I did not find any design about the search on narrow screens so I've chosen the simplest solution: just a link to the search page. I'think it is OK (for the first version at least) but I'd like to know your opinion too.

[2017-11-27 08:25] thamas commented on #90
Thank you all, for the reactions! Could someone check the pen in IE11? I think it should be OK, but I cannot test it.

[2017-11-27 19:18] markconroy commented on #90
Here's two screenshots of IE11 on Windows 10 from BrowserStack.com.

![screen shot 2017-11-27 at 19 17 43](https://user-images.githubusercontent.com/2183332/33284657-b91b98d8-d3a7-11e7-9054-d6e8fbdf3fd3.png)
![screen shot 2017-11-27 at 19 18 01](https://user-images.githubusercontent.com/2183332/33284658-b93b5bdc-d3a7-11e7-82ab-0033bbc057cc.png)

[2017-11-27 19:19] markconroy commented on #24
I'm going to leave it open for a little bit. Will try have a look at it on the train tomorrow - but I think it should be ready to close.

[2017-11-27 19:22] markconroy commented on #108
Hi Mario,

I think the primary tabs are already done:
![screen shot 2017-11-27 at 19 21 30](https://user-images.githubusercontent.com/2183332/33284849-5305e188-d3a8-11e7-95cf-988db712fc35.png)

[2017-11-27 19:23] markconroy commented on #46
Yeah, that seems acceptable.

Or maybe just 'Promo'.

[2017-11-27 19:24] markconroy commented on #48
If we are using classy as a base theme do we not automatically have those icons coming in?

[2017-11-27 19:26] markconroy commented on #106
I think that was only put on the platform site today, when Gareth did the `composer update` and pushed.

Can you check again please?

[2017-11-27 19:26] markconroy commented on #26
Yes.

[2017-11-27 19:26] #26 closed, assigned to markconroy

[2017-11-27 19:45] thamas commented on #106
Yeah, it's ok now! Thanks!

[2017-11-27 19:45] #106 closed, assigned to nobody

[2017-11-27 19:47] thamas commented on #109
I think we should! So we demonstrate that it can be changed too.

Maybe it can be a cooking Druplicon to make Drupal still recognizable… ;)

[2017-11-27 19:48] #102 closed, assigned to kjays

[2017-11-27 19:50] thamas commented on #90
@markconroy thanks for the IE11 test! It seems to work! :)

So I'll do it!

[2017-11-27 19:52] thamas commented on #54
We have a top region but based on the direction in #90 we won't use it.

[2017-11-27 19:52] #54 closed, assigned to thamas

[2017-11-28 15:24] ckrina opened #110 "Accessibility revision"
We got some accessibility review on slack from Andrew Macpherson. I suggest to add all related feedback here and create small and actionable related issues to fix or discuss each of them.

- There are a few combinations which have a ratio of 3:1, which is the special exception threshold for big text. The text sizes aren't big enough though.  Buttons pass in their resting state, but fail on hover.

[2017-11-29 21:03] kjays commented on #109
It's a good idea to change it I think :)

I'll definitely start thinking about some ideas as well.

[2017-11-30 11:15] thamas commented on #109
https://montpellier2015.drupaldays.org/sites/all/themes/custom/ddd15/logo.png :)

[2017-12-02 14:55] kjays commented on #52
Currently working on mobile and up.

[2017-12-04 16:39] mariohernandez commented on #63
Great!  Thank you @ckrina.  I'll start with responsive images and image styles.

[2017-12-04 16:58] ckrina opened #111 "Media Queries best practices approach"
Discussed on the call: any idea about the best approach.

[2017-12-04 17:20] thamas commented on #111
Just collected our findings from the agenda and from Slack:

a) Code at top of file and media queries overrides at bottom?
b) Media queries inline with each component/selector/class that needs them?
c) CSS formatting guidelines are not clear on this point - https://www.drupal.org/docs/develop/standards/css/css-formatting-guidelines

Bartik theme seems to favour option B - e.g. in tabs.css

Media q

[2017-12-06 19:12] #50 closed, assigned to ckrina

[2017-12-08 21:34] mariohernandez commented on #63
From our last call it looks like most images are aspect ratio driven so I think it makes more sense to use the aspect ratio as the image style name as this will make them more reusable.

[2017-12-09 10:56] ckrina commented on #111
Thanks @thamas !

Then it looks like placing media queries after each block is the best approach.

Any other opinion before closing this?

[2017-12-09 11:11] ckrina opened #112 "Components: Quick links block homepage"
![quicklinks](https://user-images.githubusercontent.com/2225966/33795085-15226bb2-dcda-11e7-9d15-1fddd250094d.png)

[2017-12-09 19:25] ckrina commented on #63
+1 to the aspect ratio for the name

[2017-12-09 19:27] ckrina commented on #108
Agree, it's done! Let's close fixed issues.

[2017-12-09 19:27] #108 closed, assigned to mariohernandez

[2017-12-09 19:30] ckrina commented on #100
Not sure about the `line-height` solution (first time I hear it), but I wouldn't go for `display: block/inline-block` as default.

[2017-12-09 20:51] thamas commented on #111
Nothing more. :)

[2017-12-09 20:51] #111 closed, assigned to nobody

[2017-12-09 22:37] thamas commented on #48
You are right @markconroy. This is how it looks like on the example page of the styleguide module (I used that to test this issue).

![screenshot-2017-12-09 23-34-12](https://user-images.githubusercontent.com/1244043/33800075-7c6edbf2-dd39-11e7-955a-1954fef6f3f9.png)

Do we like that, or want to design something different @kjays / @jakestir ?

[2017-12-12 11:57] thamas commented on #90
Still have to save config changes but after that it will be "needs review". :)
https://monosnap.com/file/tVswF33hAyZfP5UnK8nHXj1rJwio4C#

[2017-12-12 12:11] thamas opened #113 "Layout margin / padding"
When the screen is narrower than the max with of the `.container` there is no default space between the edge of the screen and the content.

Eg.: https://monosnap.com/file/tVswF33hAyZfP5UnK8nHXj1rJwio4C#

We should decide if we add margin/padding to the `.container` or we mange this in component level for every related component. (It is done here and here but not everywhere.)

[2017-12-12 12:12] thamas commented on #90
Just wrote a new issue because of the experience working on this: #113

[2017-12-15 15:00] kjays commented on #110
The following feedback comes from here: https://www.drupal.org/project/drupal/issues/2904243#comment-12353721

(We may have improved / fixed some of the following already)

I will start a v3 of the Styleguide PDF to tackle specific items where the styleguide makes good sense to lay it out and then update the issue here accordingly.

Thank you Andrew Macpherson!

- H5 and H6 are indistinguishable v

[2017-12-16 16:12] kjays commented on #48
I'm working on reworking these for the accessibility feedback

[2017-12-16 21:00] ckrina commented on #112
I uploaded the theming for a really component-focused styles, that probably won't be real. Feel free to update it to the real markup the final block is going to give to us.

[2017-12-19 23:12] kjays opened #114 "Status messages do not get displayed"
The 'test for empty' checks on the 'highlighted' region that we are doing in page.html.twig is preventing status messages from being displayed. Classy does not include a test for empty on the output of the highlighted region.

[2017-12-21 00:59] mariohernandez commented on #63
Created image styles as well as responsive image styles.  Updated Article and Recipe content type image fields to use newly created image styles.
PR can be seen here: https://github.com/gareth-fivemile/demo_umami/pull/12

[2017-12-27 22:31] #90 closed, assigned to thamas

[2017-12-27 22:32] thamas commented on #48
Related: #114

[2017-12-28 12:41] #114 closed, assigned to thamas

[2017-12-28 17:20] thamas commented on #48
![screenshot-2017-12-28 18-20-00](https://user-images.githubusercontent.com/1244043/34417973-c3343520-ebfb-11e7-881b-fc42ad3fcb76.png)

[2017-12-28 19:10] thamas commented on #48
I think it is done! :)
@kjays FYI I kept the text decoration on links because I hope it makes them more accessible.

[2017-12-28 22:35] thamas commented on #63
I merged the related config changes: https://github.com/gareth-fivemile/demo_umami/pull/12

We can / should check now much easier that everything is set as needed.

[2018-01-02 23:14] kjays opened #116 "Highlighted Small is using square ratio image, is this correct?"
In the design, all cards have images at ratio 3x2 except for the two top right of the home page, which have square. The current version of the theme uses square ratio on all Highlighted Small view mode cards. Am I right in thinking we need to change 'Highlighted Small' to use 3 x 2 ratio and introduce a new View mode for the 2 x small square ratio images on cards at the top of the home page?

[2018-01-03 05:40] thamas opened #117 "Qualified selectors"
Are they needed? See: https://github.com/lauriii/umami/commit/14a17f671f5c5575817c30537b9b368e659f22cc#r26596831

[2018-01-03 06:37] thamas opened #118 "Screen reader check"
"For example, the theme has to be _usable_ in a screen reader, but could perhaps have some challenges that we go onto fix in beta/RC/during release."

From Webchick's comment at: https://www.drupal.org/project/ideas/issues/2847582#comment-12393994

[2018-01-03 06:38] #48 closed, assigned to thamas

[2018-01-03 06:42] #97 closed, assigned to nobody

[2018-01-03 07:13] thamas opened #119 "More accessible search in header"
Don't hide "search" button and change the styling.

On the jan 2 meeting (https://docs.google.com/document/d/1mF2C3K7HGg5rFv7E3UpmGcobSjDQLo18TH3BLN4ZWRo/edit#heading=h.nv9lhmyhuitv) we decided to go with option C design.

[2018-01-03 07:14] thamas commented on #119
@kjays Please design hover/active states too and than provide access to the source sketch file!

[2018-01-03 13:11] thamas opened #120 "Add screenshot"
The theme should have a screenshot image.

Info: https://www.drupal.org/node/2349827#screenshot

By https://www.drupal.org/project/drupal/issues/2904243#comment-12403966

[2018-01-03 14:21] tomphippen commented on #113
Hi @thamas

I've fixed this locally on just the `.region-header`. I do think doing it per component will make more sense as whether it's margin or padding will depend on the other styles.

Will push the change later this afternoon

Tom

[2018-01-03 15:29] markconroy commented on #120
Done - https://www.drupal.org/project/drupal/issues/2904243#comment-12404264

[2018-01-03 15:29] #120 closed, assigned to nobody

[2018-01-03 15:36] kjays commented on #119
@thamas This got me thinking whether we should address this styling issue as part of the global focus styles for fields first? At the moment we have standard browser outline styling of blue I believe? Do we want to style all text fields using outline or a custom approach?

[2018-01-03 15:43] markconroy commented on #116
I'm setting hightlighted small to now use the 3:2 ratio. I'll create a new view mode for the sqaure ones on the homepage.

[2018-01-03 15:54] kjays commented on #119
But for starters. Here's the style guide snippet updated for our default styling:
<img width="876" alt="screen shot 2018-01-03 at 15 54 17" src="https://user-images.githubusercontent.com/31449148/34527717-6301be6e-f09e-11e7-91f4-6c2e178ca41d.png">

[2018-01-03 15:59] thamas commented on #113
Hi @tomhippen

It is great! Thanks!

[2018-01-03 16:17] markconroy commented on #116
Update - highlighted small now uses the 3:2 ratio, but I didn't create a new view mode.

So, the highlighted items at the top of the homepage are also using the 3:2 ratio.

Conversation here: https://drupal.slack.com/archives/C2HES6XQD/p1514995333000558

[2018-01-03 16:19] #25 closed, assigned to markconroy

[2018-01-03 16:19] #24 closed, assigned to markconroy

[2018-01-03 16:55] tomphippen commented on #117
@thamas I've removed the Qualified selectors from that commit, don't think there are any others

[2018-01-03 17:02] markconroy commented on #61
I think this can be closed now?
![screen shot 2018-01-03 at 16 57 28](https://user-images.githubusercontent.com/2183332/34530670-cba83a02-f0a7-11e7-8e48-b86a6390fbb3.png)

[2018-01-03 17:03] markconroy commented on #60
I think this can be closed as well - when we only have one column, there's no special styling needed.

[2018-01-03 17:03] #60 closed, assigned to nobody

[2018-01-03 17:04] markconroy commented on #59
Closing this. The sidebar itself doens't need any specific styling besides the width of it.
![screen shot 2018-01-03 at 16 57 28](https://user-images.githubusercontent.com/2183332/34530807-2f4c5138-f0a8-11e7-8733-9818a81c2f07.png)

[2018-01-03 17:04] #59 closed, assigned to nobody

[2018-01-03 17:05] markconroy commented on #58
Closing this. The <main> region doesn't get any special styling besides the background colour, which it already has.

[2018-01-03 17:05] #58 closed, assigned to nobody

[2018-01-03 17:07] markconroy commented on #47
I can't remember what view mode this is to be honest? Can someone pop a screenshot in here if we still need to have work done on this?

[2018-01-03 17:08] markconroy commented on #46
I can't remember what view mode this is to be honest? Can someone pop a screenshot in here if we still need to have work done on this?

[2018-01-03 17:09] markconroy commented on #44
Current login block looks like this - which I think looks great.

Shall we close this, or do we have a specific design for it?

![screen shot 2018-01-03 at 17 08 34](https://user-images.githubusercontent.com/2183332/34531029-d4575dc6-f0a8-11e7-8f12-8f039940ec51.png)

[2018-01-03 17:11] markconroy commented on #41
Is this a views list? If so, I presume this is taken care of by the .grid--4 class in the /layouts css directory.

Will we close this?

[code]

[2018-01-03 17:12] markconroy commented on #40
Is this a views list? If so, I presume this is taken care of by the .grid--3 class in the /layouts css directory.

Will we close this?

[code]

[2018-01-03 17:12] markconroy commented on #39
Is this a views list? If so, I presume this is taken care of by the .grid--2 class in the /layouts css directory.

Will we close this?

/```
**
 * @file
 * This file is used to create a 3 column grid layout.
 */

.grid--2 .views-row {
  margin-bottom: 28px;
}

@media screen and (min-width: 30em) {
  .grid--2 {
    overflow-x: hidden;
  }
  .grid--2 .view-content {
    display: flex;
    flex-wrap:

[2018-01-03 17:15] markconroy commented on #38
I don't think we need this issue, do we?

[2018-01-03 17:15] markconroy commented on #23
I don't think we are using the teaser view mode anywhere on the site, are we?

[2018-01-03 21:47] thamas commented on #117
Thanks @tomphippen!

[2018-01-03 21:47] #117 closed, assigned to thamas, kjays

[2018-01-04 06:24] kjays opened #121 "Copyright year: Install with correct year displayed"
Install as current year or is there a 'better practice' method we can demo for setting the year? For example, we've used tokens before but I know that required a module.

https://www.drupal.org/project/drupal/issues/2904243#comment-12405148

[2018-01-04 06:27] kjays opened #122 "Theme taxonomy term pages"
I know @tomphippen has started this but I think the branch is local still

https://www.drupal.org/project/drupal/issues/2904243#comment-12405148

[2018-01-04 06:36] kjays opened #123 "Theme search results"
There was no design visual or styleguide produced for search results. I'll take a look at what's needed on this today. Might be feasible for me to go straight to theme for speed.

https://www.drupal.org/project/drupal/issues/2904243#comment-12405148

[2018-01-04 07:28] kjays opened #124 "Review all breakpoints"
Mobile and desktop breakpoints seem to work well, but intermediate widths seem less polished.

https://www.drupal.org/project/drupal/issues/2904243#comment-12405148

[2018-01-04 07:30] kjays opened #125 "Articles cards display 'View recipe' rather than 'View article'"
https://www.drupal.org/project/drupal/issues/2904243#comment-12405148

[2018-01-04 07:30] kjays opened #126 "Breadcrumbs: Discuss in general, they were not included in the designs"
https://www.drupal.org/project/drupal/issues/2904243#comment-12405148

[2018-01-04 09:01] tomphippen commented on #122
It's been pushed on `demo_umami` https://github.com/gareth-fivemile/demo_umami/commit/c8dd904147fdd60831a52fc0935e76dc9fa92bfc

[2018-01-04 11:23] markconroy commented on #126
For now, I am going to set breadcrumbs to not display on the homepage, but to display on all other pages.

This is a config change, so the code for that will be in the demo_umami repo.

[2018-01-04 11:49] markconroy commented on #126
Breadcrumbs removed here - https://github.com/gareth-fivemile/demo_umami/commit/7a21f7edb055af1ad6b40006d0ac1cdd9fe6d531

Not sure if that fixes the issue - for some reason I can't see breadcrumbs on homepage on safari, chrome, or firefox.

[2018-01-04 12:00] markconroy commented on #125
The 'View recipe' link is now set to 'View {{ node.bundle }}'

https://github.com/lauriii/umami/commit/5dd292d8aed5c6778ba2057c96025bb5b47351cd

![screen shot 2018-01-04 at 11 58 41](https://user-images.githubusercontent.com/2183332/34562527-b689d8d4-f146-11e7-80da-7504d486d02c.png)
![screen shot 2018-01-04 at 11 58 51](https://user-images.githubusercontent.com/2183332/34562528-b6a7a0da-f146-11e7-

[2018-01-04 12:00] #125 closed, assigned to markconroy

[2018-01-04 12:15] markconroy commented on #121
I've hardcoded 2018 into this. Since the content is coming from a YAML file `block.block.umami_disclaimer.yml`, I'm not sure how to set it dynamically.
[code]

[2018-01-04 12:15] #121 closed, assigned to markconroy

[2018-01-04 12:19] fuzzbomb commented on #119
Good to see movement on this!  The invisible-but-operable button was a stability blocker IMO.

For focus, hover, active styles, I recommend addressing global styles first, then seeing if any exceptions are needed.

The trouble with the browser default styles, is they have occasionally been known to change abruptly between browser releases.  Remember back in the day when Chrome used an _orange_ out

[2018-01-04 12:24] #23 closed, assigned to nobody

[2018-01-04 12:24] #38 closed, assigned to nobody

[2018-01-04 12:24] #39 closed, assigned to nobody

[2018-01-04 12:24] #40 closed, assigned to nobody

[2018-01-04 12:24] #41 closed, assigned to nobody

[2018-01-04 12:24] #44 closed, assigned to nobody

[2018-01-04 12:24] #61 closed, assigned to nobody

[2018-01-04 12:25] fuzzbomb commented on #119
Note that WCAG 2.1 Graphics Contrast also applies to the resting state.  The grey input + button border should be at least 3:1 contrast to the background outside of the control.  The idea is that users have an idea of the extent of the clickable area (e.g. buttons often bigger padding than the text inside them)

[2018-01-04 13:28] fuzzbomb commented on #110
@markconroy asked me to prioritize the a11y issues, so we can tackle them in order I guess.

I'm not sure how to manage this list, github issues don't have a body vs. comments aspect like d.o issue summaries.  Would it be OK to track these on a d.o [meta] issue? The individual issues can still be on github if you like.

Anyway, the ones I'd prioritize now are:

- **Focus styles**, aim for a compre

[2018-01-04 13:35] fuzzbomb commented on #110
Regarding my comments about icons and WCAG 2.1:

The latest (hopefully last) working draft of WCAG has merged two of the new success criteria.  User Interface Component Contrast has been merged into [SC 1.4.11 Graphics Contrast](https://www.w3.org/TR/WCAG21/#graphics-contrast).

Notably, the nitty-gritty about line thickness and different contrast thresholds was deemed too complex, so they've simp

[2018-01-04 14:27] markconroy commented on #122
@tomphippen

Is this okay to close now if it's pushed on another repo or do we need any theming to go with it?

[2018-01-04 14:34] markconroy opened #127 "Remove composer.json before we commit this to core"
We need the composer.json file at the moment so the umami-build repo can place it in its repository after you run `composer install`.

We need to remove it once we are ready to commit this.

[2018-01-04 14:35] markconroy opened #128 "Remove README.md"
The readme in this repo is simply notes for development notes.

We need to remove it before we commit this to core.

[2018-01-04 14:38] tomphippen commented on #122
It's ok to close, the change was just picking a view mode & adding a class to the existing theming would get picked up.

[2018-01-04 14:38] #122 closed, assigned to markconroy, tomphippen

[2018-01-04 16:28] tomphippen commented on #123
I've just pushed my initial work on this on a new branch https://github.com/lauriii/umami/tree/search-results

- I've gone for similar styles to the cards, on the basis we could have the featured image on the left
- the advanced search needs a bit of work, there's some empty divs (that don't appear to do anything) making flexbox a bit of an issue

[2018-01-04 16:33] markconroy opened #129 "Move block styling from header.css"
There is a lot of css for branding block, menu block, etc in the header.css file.

This needs to be moved to their respective blocks' css files.

[2018-01-04 16:55] markconroy opened #130 "Improve menu accessibility"

[2018-01-04 18:33] fuzzbomb commented on #130
I had a look at the mobile menu JS, CSS, and Twig templates, for accessibiity (the patch in [Implement the Out of the Box designs as a core theme](https://www.drupal.org/project/drupal/issues/2904243#comment-12406245), comment 29).

Currently it works by toggling a class, which changes the height of the menu.  This has some a11y problems:

1. The button only does something when JS is enabled.  Whe

[2018-01-04 18:36] fuzzbomb commented on #110
I added an a11y plan to the menu JS issue,  #130

[2018-01-04 18:45] fuzzbomb commented on #130
The menu button is currently called "Toggle the menu" using `aria-label`.   "Menu" will be enough, once `aria-expanded` is present and toggling.

[2018-01-04 18:49] fuzzbomb commented on #110
The mobile menu button is currently just an icon.  An icon + visible text label ("menu") would be clearer, and help speech control users (pressing buttons is hard if you don't know what they are called... _"click 3-line thingy"_).

Not actually a WCAG 2.0 requirement AFAIK, but I think it might relate to one of the new WCAG 2.1 criteria, will look into it.

Likewise for the search icon at mobile b

[2018-01-04 19:44] thamas opened #131 "Create ES6 version of menu js file"
umami/js/components/navigation/menu-main/menu-main.js

https://www.drupal.org/project/drupal/issues/2904243#comment-12405231

Related accessibility issue: #130

[2018-01-04 20:48] kjays commented on #110
Apologies, I owed this thread an update from my 'accessibility-quick-wins' branch merge done earlier this week. So this all should be in dev branch now. e.g.: https://master-7rqtwti-acn64pnrbyo7q.eu.platform.sh/articles/sun-peaks-okanagan-wine-festival

The newly designed search dialogue that's work in progress addresses this by switching to the cerise colour.

These have been split into two diffe

[2018-01-04 20:54] thamas commented on #130
@fuzzbomb Thanks for the detailed a11y info!

I'm do not know too much about a11y so I need some more clarification / help:

1. You mention that without JS the menu button does nothing and that is a problem to have button in the markup which not operates. Is it an a11y thing to think about users won't have JS? (I think so, of course…) In this case there is an other thing I was thinking about: curr

[2018-01-04 22:38] cehfisher opened #132 "Focus styles for buttons"
_Making a stand-alone ticket to tackle this accessibility issue._

From @fuzzbomb:

From @kjays:

[2018-01-04 22:41] cehfisher opened #133 "Create a text input focus style"
_Making a stand-alone ticket to tackle this accessibility issue._

From @fuzzbomb:

From @kjays:

[2018-01-04 22:43] cehfisher opened #134 "Add icons to the message statuses"
_Making a stand-alone ticket to tackle this accessibility issue._

From @fuzzbomb:

From @kjays:

[2018-01-04 22:50] cehfisher opened #135 "Retest color contrast of demo site"
@fuzzbomb has done some preliminary testing on this, but with everything influx probably would be good to get some fresh eyes on this.

Ideally, we would achieve the 4.5:1 color ratio, but the site should at least have a 3:1 ratio. Elements to test include: text, buttons, icons, menus, all hover states, etc. Below is some additional information on the subject:

[2018-01-04 22:55] cehfisher opened #136 "Link styling not consistent"
There has been some good progress on links from an accessibility perspective, but still seeing some inconsistencies and places where no hover state or underline is present. Might be good to get some fresh eyes on this issue.

![link](https://user-images.githubusercontent.com/15240149/34587884-d511f970-f16f-11e7-8804-50dba6b50409.png)

[2018-01-04 23:04] cehfisher opened #137 "Review site in high contrast mode"
Probably not the highest priority, but want to make sure this gets a review as well.

From @fuzzbomb:

[2018-01-04 23:08] cehfisher opened #138 "Accessibility considerations for icons and SVGs"
Need to review the use of icons/SVGs from an accessibility perspective. Depending on how they were added to the site and/or how they are being used, additional elements might need to be added to make more user-friendly.

From @fuzzbomb:

[2018-01-04 23:12] cehfisher opened #139 "Button erroneously has .visually-hidden class"
Need to review to see if this is still an issue and if there are any other instances of this bug.

From @fuzzbomb:

[2018-01-04 23:55] fuzzbomb commented on #110
Awesome progress, loom forward to reviewing in detail.

I've tried drumming up contributors from the #a11y slack channel.  Comparing your latest work against my older reviews would be a good way to get on board.

[2018-01-05 11:07] thamas commented on #134
@cehfisher It was done by #48

I checked again, icons are displayed, but link style has changed.

I close it but feel free to reopen if you see something to be done.

[2018-01-05 11:07] #134 closed, assigned to nobody

[2018-01-05 13:32] thamas commented on #134
Output generated by styleguide module:
![screenshot-2018-01-05 11-44-06](https://user-images.githubusercontent.com/1244043/34611312-3be7c82c-f225-11e7-898b-c854b6117e14.jpg)

[2018-01-05 13:57] cehfisher commented on #134
Thanks for checking! It sounded like this might have been regressed on the last feature branch. Glad it was not. :)

[2018-01-05 16:35] DuaelFr opened #140 "[a11y][A] DOM and Focus order"
AFAIK, focus order should not differ from visual order in the page. In our case, it should go from quick links, to search form, to login link, to logo, to main menu.

More explanations : https://www.w3.org/TR/WCAG20-TECHS/C27.html

[2018-01-05 18:34] markconroy opened #141 "Theme the Contact Form"
Contact form looks a little worse than it possibly could - let's show it some love.

[2018-01-05 20:53] markconroy commented on #126
I've made some more changes to this, so that now the current page title is amended as a final (unlinked) breadcrumb.

[it's on this commit](https://github.com/lauriii/umami/commit/84560053652a56b0f761d1b850249ae6fd6708f0)

![screen shot 2018-01-05 at 20 51 12](https://user-images.githubusercontent.com/2183332/34627911-54f31ee0-f25a-11e7-8840-7b527c290b87.png)

[2018-01-06 19:14] thamas commented on #131
Working draft (without a11y improvements) and no need for jQuery: https://codepen.io/thamas/pen/YYEYeR?editors=0010

[2018-01-06 22:45] thamas commented on #131
Next is #130

[2018-01-06 22:56] cehfisher commented on #140
Yes @DuaelFr the tabbing order is a bit off on some of the elements. Attaching a gif showing an example of that issue. We might need to break this down into smaller chunks. Ex. tabbing order of a card, header, etc.

![tabbing-order](https://user-images.githubusercontent.com/15240149/34644762-708f5274-f302-11e7-8f00-5a730fc87418.gif)

[2018-01-06 23:02] cehfisher opened #142 "Images need alt text"
I assume there is no alt text for the current images because they are just placeholders, but opening this ticket as a reminder to update this when the real images are in place.

[2018-01-06 23:21] cehfisher commented on #130
In case it might be helpful, here is an example of an accessible mobile button pattern with minimal JS:
http://a11y-style-guide.com/style-guide/section-navigation.html#kssref-navigation-navigation-mobile

I realize it is not 100% JS free but does include important navigational/toggle elements such as:
`aria-expanded="false"`; `aria-controls="nav-menu-ex-1"`; `class="screen-reader-text"`; and `aria

[2018-01-07 11:59] lyndsey commented on #110
I've tested a few of these changes from @kjays last comment. Tested by installing a copy today and adding content to a recipe node. I'm not sure where style guide referenced above is located:

# Heading sizes

H5 and H6 are fine now however in body content h3 and h4 are the same size (screenshot below). I have:
h2 1.77rem
h3 1.33rem
h4 1.33rem
h5 1.125rem
h6 1rem

**Suggestion:** change h3 to 1.5

[2018-01-07 12:26] fuzzbomb commented on #138
There's a missing word in the quote above.  It originally said:

I think this comment was lifted originally from d.o and some tags got stripped out.

[2018-01-07 12:26] fuzzbomb commented on #139
This one is high priority.  We have a new design proposal in #119 which makes the button visible again.

[2018-01-07 12:31] fuzzbomb commented on #137
We should stop conveying different states by toggling colour between transparent and some visible colour.

As far as I'm concerned, `transparent` is a colour, and if active/hover/focus states are solely swapping a 3px transparent border for a 3px red border then that's a failure of WCAG 1.4.1 Use of Color.

[2018-01-07 12:32] fuzzbomb commented on #137
We actually have this problem in Seven, for the secondary tabs.  Must file an issue against the Seven theme for that....

[2018-01-07 13:48] fuzzbomb commented on #130
@thamas:

Well it's an a11y thing to think about everyone, and treat JS as progressive enhancement.  Users with disabilities generally leave JS turned on, like anyone else.  This isn't really about users who deliberately turn JS off; rather it's about situations where JS fails to run for any reason at all, like a badly configured proxy.

Yes, only hide the menu if JS runs.  If you hide it with CSS

[2018-01-07 13:50] fuzzbomb commented on #134
The icons and underlined links in the screenshot above are the right idea.

[2018-01-07 14:06] thamas commented on #137
@fuzzbomb it would be great if you could suggest an other solution which is right for a11y too.

[2018-01-07 14:10] thamas commented on #139
Let's do it in #119!

[2018-01-07 14:10] #139 closed, assigned to nobody

[2018-01-07 15:49] fuzzbomb commented on #140
It's different on the small screen size too.  When the mobile burger menu button is in play, the button is to the left of the site logo, but comes after the site log in tabbling sequence.

It's a pain to get this right when the visual order changes between breakpoints.

[2018-01-07 16:01] fuzzbomb commented on #136
This find out more link is hard to spot.  The arrow head technically passes SC 1.4.1 Use of Color, but unless you are reading the text it just gets lost amongst the text.  The link isn't very obvious when you're just scanning.   It would benefit from being underlined like links inside other paragraphs.

[2018-01-07 16:19] fuzzbomb commented on #138
I noticed a couple of other things.  The use of SVG titles and descriptions, together with ARIA labelling, is over-keen.

- Some SVGs have `<title>` elements which differ from the content of the `aria-label` on a surrounding `<button>` element.  These `<title>` elements can either be taken out, or used as the target of an `aria-labelledby` instead of `aria-label` on the button.  At the moment the

[2018-01-07 16:27] fuzzbomb opened #143 "Menu toggle button gets two click handlers on some pages."
On some pages (e.g. homepage) the menu button doesn't work.
On others (e.g. the search page) it works.

It's getting a toggle handler assigned twice, needs a jQuery `once()` filter.

[2018-01-07 17:15] DuaelFr commented on #140
I'm planning to fill another issue about the menu's toggle button which is
"tabbable" while staying invisible on desktop. Maybe tonight, maybe
tomorrow.

[2018-01-07 21:05] cehfisher commented on #110
thanks for making some updates @lyndsey to the accessibility efforts! in order for things to not "go missing" I will break your comments into some new tickets.

@fuzzbomb if everything else on this ticket is either complete or in separate sub tickets, is it possible to close this giant one?

[2018-01-07 21:14] thamas commented on #143
@fuzzbomb Is it about the latest version: https://github.com/lauriii/umami/commit/a15efc0b25c5aee7ee2ec57fb1f5723854e08db4 ? (FYI the latest version does not use jQuery.)

If yes, please add a comment to #131!

If not, please check that (and comment #131 if needed)!

[2018-01-07 21:14] #143 closed, assigned to nobody

[2018-01-07 21:17] cehfisher opened #145 "H3 vs H4 heading styles"
_Breaking this subtask off a comment from @lyndsey in #110. Can verify the margin is the only visual difference between the two headings._

H5 and H6 are fine now however in body content h3 and h4 are the same size (screenshot below). I have:
h2 1.77rem
h3 1.33rem
h4 1.33rem
h5 1.125rem
h6 1rem

Suggestion: change h3 to 1.5 or 1.6rem.
Tested this on a few pages and couldn't find a style issue with

[2018-01-07 21:37] cehfisher commented on #136
_Adding more link accessibility comments by @lyndsey in #110_

# General Links
By adding a background colour and changing the text colour you are still using colour alone to distinguish the links, so it's still an issue for colour blind people. I didn't check if there is a hue change but I doubt it. The best remedy is if on hover you remove the underline text decoration - text-decoration: none; th

[2018-01-07 21:44] thamas commented on #130
@fuzzbomb Thanks for the answers!

And is it better to not to have a button at all than have a button which do not operates? Is it less confuse?

Thats ok, it has to be accessible, but a site wher every page jumps a when loaded would not be to usable I think. So I'm just looking for the good solution.

As I wrote the designed layout needs that html structure. There should be other solutions to get

[2018-01-07 21:46] thamas commented on #138
The comment above is about #130. Is there any other svg to be improved? (Maybe open a separate issue for every svg which should be changed…)

[2018-01-07 22:02] thamas commented on #140
The mentioned quote says:

I did not see mentioning that the source order and the visual order should be the same. In the source code the order and the semantics can help to understand the content. But in the rendered page colors, sizes etc. can help too to understand the structure. So I do not think they always have to be the same.

Anyway, the current order in the HTML source was determined by t

[2018-01-07 22:07] cehfisher opened #146 "Redundant links"
The card teasers on this site include three links to the same URL. This is considered an alert by WCAG (2.4.4 Link Purpose - Level A).

# Example
The image, title, and recipe link all go to the `/web/recipes/glorious-salad` node
<img width="562" alt="all-the-links" src="https://user-images.githubusercontent.com/15240149/34654644-470d81ce-f3c4-11e7-8d85-10b4eb1ec47d.png">

# Why It Matters
When adj

[2018-01-07 22:13] thamas commented on #119
@kjays Other text inputs and buttons (eg. on the login form) are very different than the search form. The question is what should be done to the alpha deadline. I hope the new design is more accessible that the current state so should be done. And we can improve it further if it is needed.

FYI Chrome provides the blue outline on the text input but Firefox displays nothing.

I thinks focus / hover

[2018-01-07 22:40] cehfisher commented on #135
# What It Means
Very low contrast between foreground and background colors. WCAG 2.0 1.4.3 Contrast (Minimum) (Level AA).

# Examples
This is a funny issue. The inspector says it is showing white, but in reality is green *after* the link has been visited. I think the only change needed here is a default state for the link. You can see styling for:
`.menu-footer__link:link,` and `.menu-footer__link

[2018-01-08 08:20] DuaelFr commented on #140
@thamas I might not understand properly the specs but I think the [C27](https://www.w3.org/TR/WCAG20-TECHS/C27.html) technique for WCAG 2.0 (2.1 techniques have not been published yet, I suppose) is explaining why the DOS order should match the visual order of elements.

[2018-01-08 08:28] DuaelFr commented on #142
The problem is that there is no alt attribute at all. Even decorative images should at least have an empty alt attribute. :)

[2018-01-08 08:37] DuaelFr commented on #146
As a free gift here is how I fix it on my projects:

1- only one link, the more meaningful, on any embedded entity
2- a preprocess that adds a js-clickable-node CSS class and loads a my_theme/clickable-node library
3- a my_theme/clickable-node library that contains a simple CSS to add `pointer: cursor` and the following JS file (please, be kind judging it)

[code]

[2018-01-08 08:51] DuaelFr commented on #146
I forgot to mention that, even if there is not a full browser support, using the CSS [focus-within](https://caniuse.com/#feat=css-focus-within) pseudo class is a good way to have a great UX even for keyboard users :)

[2018-01-08 08:55] DuaelFr opened #147 "[a11y][AAA] Link Purpose (Link Only)"
[Summary rewritten according to @fuzzbomb first comment]

https://www.w3.org/TR/WCAG21/#link-purpose-link-only

-----

The "view recipe" links fall into this criterion.
Take a look at the node's "read more" links provided by core to see how you can make better (`\Drupal\node\NodeViewBuilder::buildLinks`).

[2018-01-08 09:23] fuzzbomb commented on #147
Can you elaborate on the problem, for level-A link purpose?

I don't think it's an instance of [F63: Failure of Success Criterion 2.4.4 due to providing link context only in content that is not related to the link](https://www.w3.org/TR/2016/NOTE-WCAG20-TECHS-20161007/F63) because we have context from the preceding heading, which is the recipe name...

[2018-01-08 09:33] fuzzbomb commented on #146
3 links in a row is repetitive for keyboard traversal, and it would be good to reduce this.

Surely it's not a failure of WCAG 2.4.4 though?  I can't see anything in the understanding docs for 2.4.4 which relate to this.

[2018-01-08 09:41] fuzzbomb commented on #140
I couldn't replicate this.  There's a `.menu-main__togglewrap { display: none; }` which correctly removes the button from the tabbing order.

Update: There's a visually-hidden link for the site-name, after the site-logo-link in the tabbing order. Maybe that's what you found?

[2018-01-08 09:43] DuaelFr commented on #147
You are right, thanks. I didn't see the part related to preceding headings (which should be in the programatically determined context list, I suppose). I'll retitle this issue to mark it AAA instead and we'll see if we want to invest some time fixing it or not.

[2018-01-08 09:51] fuzzbomb commented on #140
@thamas

It's VERY confusing for sighted keyboard users if the tabbing order is at odds with the visual layout.  When focus jumps about in a spatially haphazard way, it becomes confusing for users who don't know which direction to look to see what has focus. Myself included.

But a sighted keyboard-only user cannot see the source code order. Only developers bother to read that!

[2018-01-08 09:59] DuaelFr commented on #146
It's not directly failing criterions but it can be understood from [H2: Combining adjacent image and text links for the same resource](https://www.w3.org/TR/WCAG20-TECHS/H2.html) where we can read:

-----

I suppose we could also interpret [G197: Using labels, names, and text alternatives consistently for content that has the same functionality](https://www.w3.org/TR/WCAG-TECHS/G197.html) which sa

[2018-01-08 10:55] thamas commented on #145
I found that 1.5rem fits better, so set that for h3.

![screenshot-2018-01-08 11-52-46](https://user-images.githubusercontent.com/1244043/34667742-a008d76e-f46a-11e7-9da6-37f0115a33cf.png)

[2018-01-08 16:35] thamas commented on #119
So first round is in the dev branch! :)

- No focus / hover styles set yet!
- I set the font size a little bit smaller (0.875rem instead of 1rem) because I've found it to look better
- Styling leaks to the search page and possibly to other forms, that should be fixed too

![screenshot-2018-01-08 17-34-48](https://user-images.githubusercontent.com/1244043/34680777-4066faa4-f49a-11e7-8238-657d0b5703

[2018-01-09 09:28] DuaelFr opened #148 "[a11y][A] Required form labels without CSS"
As explained in [this core issue](https://www.drupal.org/project/drupal/issues/2921627), the required indicator on form labels should remain even when CSS is disabled (see the issue for WCAG refs). The given patch is under review (Needs work to be extended to fieldsets labels right now) but as it only touches templates, it can be implemented in the Umami theme.

[2018-01-09 10:07] thamas opened #149 "Use extend to create menu-main.html.twig template"
Extend menu.html.twig instead of duplicating it.

[2018-01-09 10:12] thamas opened #150 "Use path() in block--search-form-block.htm.twig"
Use path() in the href value definition.

[2018-01-09 10:57] lauriii commented on #150
Looks good!

[2018-01-09 10:57] #150 closed, assigned to thamas, lauriii

[2018-01-09 19:17] fuzzbomb commented on #148
Thanks, this will be needed, but we can postpone it until the core issue has been fixed.

[2018-01-09 19:20] fuzzbomb commented on #146
Yes, H2 is relevant, and worth trying.
It's just classed as an "additional, advisory" technique for 2.4.4 Link Purpose In Context, but relates to SC 1.1.1 Non-text content too.

[2018-01-09 23:01] cehfisher commented on #145
Looks good to me locally. Thanks! (cc @lyndsey)

[2018-01-09 23:01] #145 closed, assigned to thamas

[2018-01-11 20:14] markconroy commented on #142
The two image fields currently on content types both have alt field enabled and set as required. So, I presume this will be fixed before 8.5.x
![screen shot 2018-01-11 at 20 13 14](https://user-images.githubusercontent.com/2183332/34845222-10193032-f70c-11e7-9247-7944e40a22ba.png)

[2018-01-11 20:31] markconroy opened #151 ".form-actions and .form-submit might be too generic in search.css"
[code]

I have a feeling this is a little bit generic to be in the search.css file. It's going to affect _every_ .form-submit and .form-actions, rather than just the search-block-form one.

Should we make it a bit more specific here or move it to a form-specific partial?

[2018-01-11 20:35] markconroy commented on #129
Fixed in [commit bf8f36](https://github.com/lauriii/umami/commit/bf8f36843a095fc125188dec8ad3a40203783515)

[2018-01-11 20:35] #129 closed, assigned to markconroy

[2018-01-11 20:49] markconroy commented on #141
Contact form now looks like this (let the discussion begin)
![screen shot 2018-01-11 at 20 49 12](https://user-images.githubusercontent.com/2183332/34846702-edfc61e0-f710-11e7-8fea-2cf850af1436.png)

[2018-01-11 20:55] markconroy opened #152 "Border 3px on hover/focus on search submit makes other form items jump"
When you hover over the search submit button in the header, it changes from a 1px border to a 3px border, making it just a bit and the text inside the button to move 2px to the right.

The bigger issue with this is that all buttons jump. So if you go to the contact form at /contact and hover the preview or send button it causes 6px of movement.

Should we just keep the border at 1px for hover stat

[2018-01-11 20:56] markconroy commented on #113
@tomphippen and @thamas can we close this issue?

[2018-01-11 20:59] #53 closed, assigned to nobody

[2018-01-11 21:00] #51 closed, assigned to nobody

[2018-01-11 21:01] markconroy commented on #42
I'm not sure what this component is. Is it already covered by the views lists we have themed?

@ckrina?

[2018-01-11 21:01] markconroy commented on #43
I'm not sure what this component is. Is it already covered by the views lists we have themed?

@ckrina?

[2018-01-11 21:02] #22 closed, assigned to nobody

[2018-01-11 21:04] #52 closed, assigned to kjays

[2018-01-11 21:04] markconroy commented on #63
Can this be closed @thamas & @mariohernandez?

[2018-01-11 21:05] markconroy commented on #45
I'm not sure what this component is. Is it already covered by the views lists we have themed?

@ckrina?

[2018-01-11 21:05] #116 closed, assigned to mariohernandez, markconroy, kjays

[2018-01-11 21:11] cehfisher commented on #132
I am seeing focus styles for buttons, but I think the issue is when a link <a> is used instead of a true <button> class.

Ex. page where this is happening: http://umami:8888/web/recipes
The pink "button" is actually a link (using <a>). Ideally, this would use a <button> tag and then you a new pink button class with proper focus styles, etc, would need to be created. In terms of accessibility <butt

[2018-01-11 21:14] cehfisher commented on #118
@thamas does the site need to be tested using a screen reader?

[2018-01-11 21:45] fuzzbomb commented on #152
Are these supposed to have square or round corners?  The buttons here look round at one end and square at the other.

If they have square corners, you could try outline width instead of border width.  Also perhaps outline-offset, to get a bigger ring.

The outline properties don't cause a change in box model AFAIK, but outline can't have a radius - that's a trade-off

[2018-01-11 21:56] fuzzbomb commented on #142
The custom banner block type doesn't have the imagefield alt text enabled.  Found that during Tuesday's review.

[2018-01-11 21:57] fuzzbomb commented on #142
Is Umami theme the right place for this issue? Field config and CSV content is the profile repo....

[2018-01-11 22:18] fuzzbomb commented on #109
I love the Druplicon Chef!

Ideas:

- Favicon has very limited space.  Is there enough room for the Drupal Chef's hat?
- Use the orange-red colour from the site logo. A red Druplicon would be cool, with or without the hat ;-)
- Larger icons for smartphones, they will have enough room for the Drupal Chef.
- The Drupal Chef doesn't actually appear in the page design, unlike Bartik.  The orange-red U

[2018-01-11 22:30] fuzzbomb opened #154 "Style the "skip to main content" link"
The skip link is currently unstyled, and it causes a content jump when focusing it.

It has the core `.visually-hidden.focusable` classes, so the functionality is otherwise fine.

As a first cut, we could try copying the style from Bartik/Seven, and see if it still works here.  That's a good style because it sits well next to the toolbar.  Maybe change the colour to resemble one of the existing Um

[2018-01-11 22:56] fuzzbomb commented on #133
This is a good idea.  The caret does give you an indication of focus, but it's a very slight one.

[2018-01-11 23:07] fuzzbomb commented on #126
For accessibility, they help to address WCAG [SC 2.4.8 Location](https://www.w3.org/TR/UNDERSTANDING-WCAG20/navigation-mechanisms-location.html)

SC 2.4.8 is at WCAG level AAA, so technically we don't have to address it for our accessibility gate.  I'd prefer to include it though, since Umami is about showcasing Drupal's features, which includes accessibility.

An alternative technique to address

[2018-01-11 23:19] fuzzbomb commented on #152
You can get around the jump by setting a height and width for the `.form-submit`.  I tried it with height: 3em; width:10em.  I'm not sure if the width approach is robust enough for any button text, but this is a demo site, and "send message" is at least a two word button and that works.  Maybe the max+min width properties can be used?

[2018-01-11 23:46] fuzzbomb commented on #152
If we leave the border at the same thickness, then it's conveying focus by colour alone.

The default browser focus outline is unreliable, so I suggest we either suppress it in favour of a border thickness change, or replace it with an explicit `outline` of our own. (In Chrome the blue outline is still there, but in Firefox there's no browser focus outline.)

Here's what I arrived at, messing in F

[2018-01-11 23:54] fuzzbomb commented on #132
I think some HMTL was stripped out of your comment, so I can't exactly make sense of what you meant.

It behaves as a link, so `<a>` is the correct element - that part is working fine. Do you think we should keep the "button" styling or make it more like the "View Recipe >" link style?  There might be some button styling classes we can re-use.

I see a focus style on this link.  In Firefox, it's t

[2018-01-12 00:12] fuzzbomb opened #155 "RSS icon needs better position"
Found during site review at the NWDUG meetup (copying from the google doc, https://docs.google.com/document/d/1JvRiVyx-xob6UC5ajW7DxNg9qkEg2uKhOrW3NUOEE2w/edit)

"Term page RSS icon is too close to the footer"

Screenshot:
![umami-rss-icon-too-close-to-footer](https://user-images.githubusercontent.com/1243005/34853720-3faddc00-f72d-11e7-9850-d44b508cda26.png)

[2018-01-12 00:23] fuzzbomb opened #156 "Article author + date information - add a visual separator?"
Found during site review at the NWDUG meetup, (copying from the google doc, https://docs.google.com/document/d/1JvRiVyx-xob6UC5ajW7DxNg9qkEg2uKhOrW3NUOEE2w/edit)

Screenshot:
![umami-article-author-date-styling-needs-separator](https://user-images.githubusercontent.com/1243005/34853901-37d5b93e-f72e-11e7-9401-a162ef84d075.png)

Do we need a separator between author name and time?  I recall some co

[2018-01-12 00:38] fuzzbomb opened #157 "Preparation time icon is a little… stabby?"
Noted during site review at the NWDUG meetup, (copying from the google doc, https://docs.google.com/document/d/1JvRiVyx-xob6UC5ajW7DxNg9qkEg2uKhOrW3NUOEE2w/edit)

Actual LOL!

I'll assume this is sincere design feedback and duly note it here :-)

[2018-01-12 00:44] fuzzbomb commented on #157
![](https://media.giphy.com/media/l41YeDA9tbt939NUA/giphy.gif)

[2018-01-12 08:53] tomphippen commented on #113
Yes, if it does come up again it will need to be fixed per-component so would be a new issue.

[2018-01-12 08:53] #113 closed, assigned to nobody

[2018-01-12 09:03] #126 closed, assigned to markconroy

[2018-01-12 09:29] tomphippen commented on #152
@markconroy @fuzzbomb I'm just looking at this now along with the search results.

I'm thinking the simplest solution might be to change the padding on hover & keep the larger border width

[code]

[2018-01-12 09:50] markconroy commented on #152
That looks nice @tom.

I'm going to be working on the site in the afternoon, so I'll have a try at something like that.

Also, well spotted @fuzzbomb on the rounded/square corners. I think we were too generic in theming .form-submit with only 2 rounded corners. I'll tackle that as well.

[2018-01-12 09:53] tomphippen commented on #152
@markconroy don't worry about the rounded corners, it was an overly generic selector that was supposed to target only the search one (as it bumps up to the search field), I've got it fixed locally

[2018-01-12 09:56] markconroy commented on #152
Great stuff. Thanks.

[2018-01-12 11:24] fuzzbomb commented on #130
@thamas, for the SVG

Yes, that's right. Delete this metadata from the embedded SVG is right, we just need the `aria-label` on the button itself. These are the changes (attributes that don't need to change are omitted from this example code):

Before:
[code]

After:
[code]

The button label can be "Menu", or "Main menu" to be clearer.  No need to say "toggle" in the `aria-label`, that will be conv

[2018-01-12 12:13] fuzzbomb commented on #130
That's right.  For a sighted user, it's easy to understand that "nothing seems to be happening when I press this".  For a visually impaired user with a screen reader, the experience is more like "I pressed the button, but I have no idea if anything has happened".  Various ARIA properties, such as `aria-expanded`, are about giving immediate feedback in a semantic, programatically-determinable way,

[2018-01-12 12:15] tomphippen commented on #123
The latest commit integrates the new design in the search box & does a few tweaks to get the results and advanced search matching those styles.

[2018-01-12 12:26] tomphippen commented on #152
The latest commit I think fixes all the issues mentioned in the thread.

Also does the design that Keith mocked up
<img width="743" alt="screen shot 2018-01-12 at 10 04 37" src="https://user-images.githubusercontent.com/33553865/34874990-4fb5cf66-f793-11e7-839a-2a4e45b71e86.png">

As discussed on slack this is achieved by putting the `form-search` underneath the button with some right padding. Loo

[2018-01-12 12:35] fuzzbomb commented on #130
To move this forward, we can address points 1, 3, 4, and 5 for MVP.

Ideally the toggle button should be inside the nav element, but at this stage I don't want to disrupt the CSS styling.  Let's postpone point 2 until after we get the MVP in core.

[2018-01-12 13:18] markconroy commented on #152
We need to support IE11.

I guess that means we can't ever use `:focus-within`, doesn't it?

[2018-01-12 13:56] tomphippen commented on #152
Yeah, there is the ally.js library that has a polyfill, but probably not worth it in terms of the additional complexity (and based on what Keith's been talking about today possible licence issues)

[2018-01-12 15:28] tomphippen commented on #156
@fuzzbomb I think this had just been missed rather than deliberately removed, I've added them in

[2018-01-12 15:37] tomphippen commented on #151
@markconroy I'm closing this issue as I fixed it doing the work in #152

[2018-01-12 15:37] #151 closed, assigned to nobody

[2018-01-12 16:08] markconroy commented on #155
I don't think those icons are supossed to be there. They are certainly not in the designs. I'll create an issue on the demo_umami repo.

[2018-01-12 16:09] #155 closed, assigned to nobody

[2018-01-12 16:11] markconroy commented on #142
I came here to say the same thing! I'll close this one.

[2018-01-12 16:11] #142 closed, assigned to nobody

[2018-01-12 16:32] markconroy commented on #154
deploying this now:
![screen shot 2018-01-12 at 16 31 45](https://user-images.githubusercontent.com/2183332/34884905-1e14942e-f7b6-11e7-8a72-419cc061ea02.png)

[2018-01-12 16:32] #154 closed, assigned to nobody

[2018-01-12 16:33] fuzzbomb commented on #154
Great!

[2018-01-12 16:49] markconroy commented on #132
I have that banner button/link set like this now:

default:
![screen shot 2018-01-12 at 16 48 38](https://user-images.githubusercontent.com/2183332/34885629-878e9d08-f7b8-11e7-9f2d-0243968b08d7.png)

hover/focus:
![screen shot 2018-01-12 at 16 48 42](https://user-images.githubusercontent.com/2183332/34885636-8de09846-f7b8-11e7-8104-bedeaaf3b18f.png)

Is that enough for this issue to close?

[2018-01-12 17:06] tomphippen commented on #149
Is the solution to this one editing menu.html.twig to add `.setAttribute('data-drupal-selector',menu_classes)` to level 0 menus and remove menu-main.html.twig.

It's the only difference in files and I can't see that it would have any negative effects if other menus get a data attribute

[2018-01-12 19:00] cehfisher commented on #132
Was the mark-up changed to <button> and a new pink button class added? If not, this is a band-aid fix. Let me know if you want me to send in a PR for this or if you want to address at a later point.

[2018-01-12 19:02] fuzzbomb commented on #147
Oh, I just noticed an inconsistency in WCAG 2.0!

The [WCAG 2.0 Recommendation](https://www.w3.org/TR/2008/REC-WCAG20-20081211/#pdlinkcontextdef) and [Understanding SC 2.4.4](https://www.w3.org/TR/UNDERSTANDING-WCAG20/navigation-mechanisms-refs.html#pdlinkcontextdef) documents describe "programatically determined link context" in HTML like so:

There's no mention of preceding headings providing co

[2018-01-13 18:29] markconroy commented on #132
Hi Carrie,

I didn't change the markup, I just added a hover/focus state css to `.block-banner-block .field--name-field-content-link a`. There is no button class there, it's just styling the (entity reference field) field.

I'm happy to take your lead on suggestions.

[2018-01-13 18:33] markconroy commented on #147
Hi Folks,

I'm a little muddled here. Do I need to do anything on this issue?

[2018-01-13 18:44] #156 closed, assigned to nobody

[2018-01-13 18:44] #152 closed, assigned to markconroy, kjays

[2018-01-13 18:45] #141 closed, assigned to markconroy

[2018-01-13 19:15] markconroy opened #158 "search page issues"
The search page is missing padding/margin on the sides for small screens.

Also, the search form styling from the header is styling the form on the /search page, which is causing horizontal scrolling. I _think_ we might be able to fix this by setting the width of the form on small screens without needing any new classes, since the form in the header is not seen on small screens anyway.

[2018-01-16 17:27] cehfisher commented on #132
This is one of those "best case scenario" type of fixes. Your fix is a great start, but much more we could do in the future. I'd say either close this ticket and we can reopen at at later date, or add a tag indicating that this ticket is a future improvement.

[2018-01-16 21:42] ckrina commented on #109
I'm not a big fan of Druplicon-with-stuff logos, so my vote would go to something like the last proposal : )

[2018-01-18 12:02] fuzzbomb commented on #147
@markconroy Not for now.  We're in some doubt as to whether WCAG2 actually requires this at level A.  The question is whether the preceding headings provide the context needed for level A.  I think we need to research this, and ask the wider a11y community.

[2018-01-18 12:06] fuzzbomb commented on #147
I see we have a Drupal.org issue about this too - [Umami Theme - follow-up - is a11y context needed for read more links?](https://www.drupal.org/project/drupal/issues/2937639)

Be careful about filing follow-ups on D.o without referencing existing issues here.  We're in danger of having parts of the discussion lost by taking in two places at once.  It could make things harder to keep track of, and

[2018-01-18 12:35] fuzzbomb commented on #147
Let's close this one here, not needed for MVP.  I've marked the D.O issue as postponed maintainer needs more info

https://www.drupal.org/project/drupal/issues/2937639

[2018-01-18 13:02] #147 closed, assigned to nobody

[2018-01-19 23:26] markconroy commented on #109
https://www.drupal.org/project/drupal/issues/2938190

[2018-01-19 23:26] #109 closed, assigned to nobody

[2018-01-19 23:27] markconroy commented on #132
I'll close for now, as issues are moving to Drupal.org.

[2018-01-19 23:27] #132 closed, assigned to nobody

[2018-01-19 23:27] #158 closed, assigned to nobody

[2018-01-19 23:28] #131 closed, assigned to thamas

[2018-01-19 23:28] #127 closed, assigned to nobody

[2018-01-19 23:29] #123 closed, assigned to tomphippen

[2018-01-19 23:29] #128 closed, assigned to nobody

[2018-01-20 00:12] fuzzbomb commented on #132
Follow-up on d.o

https://www.drupal.org/project/drupal/issues/2938194

[2018-01-27 14:33] fuzzbomb commented on #130
This can be closed here, we have an issue for it on D.O

https://www.drupal.org/project/drupal/issues/2940023

[2018-01-28 16:04] #130 closed, assigned to nobody

[2018-02-01 03:01] mariohernandez commented on #63
Closing as this has been merged by @thamas above.

[2018-02-01 03:01] #63 closed, assigned to thamas, mariohernandez, lauriii, markconroy, ckrina, gareth-fivemile

[2018-02-01 03:03] mariohernandez commented on #42
I could help with this if I am provided with details and requirements.

cc:
@ckrina
@kjays

[2018-02-01 03:07] mariohernandez commented on #99
Hi @kjays do you have any info on @ckrina's comment above?  Can this be closed?

[2018-02-01 03:10] mariohernandez commented on #45
I could help with this if I am provided with details and requirements. @ckrina

[2018-02-01 10:28] markconroy commented on #42
I think it's just the general listing pages we have - articles and recipes.

We should probably close this.

[2018-02-01 10:28] #42 closed, assigned to nobody

[2018-02-04 16:34] fuzzbomb commented on #140
This one hasn't been moved to drupal.org yet, and is major IMO.

Relevant WCAG docs...

- Success Criteria
    - [1.3.2 Meaningful Sequence](https://www.w3.org/TR/2016/NOTE-UNDERSTANDING-WCAG20-20161007/content-structure-separation-sequence.html) (level A)
    - [2.4.3 Focus Order](https://www.w3.org/TR/UNDERSTANDING-WCAG20/navigation-mechanisms-focus-order.html) (level A).  This is the more relev

[2018-02-05 01:45] fuzzbomb commented on #140
This should have moved to Drupal.org, it's major. I filed https://www.drupal.org/project/drupal/issues/2942043

[2018-02-05 01:46] fuzzbomb commented on #146
Does this have an equivalent issue on drupal.org yet?

[2018-02-05 01:47] fuzzbomb commented on #148
@DuaelFr now that Umami them is in core, we could add this to the scope of the core issue... what do you think?

[2018-02-05 02:11] fuzzbomb commented on #119
close this, follow-ups are at drupal.org in

https://www.drupal.org/project/drupal/issues/2938194#comment-12466215

[2018-02-05 02:12] fuzzbomb commented on #133
This is underway at drupal.org, so we can close this in favour of
https://www.drupal.org/project/drupal/issues/2938194

[2018-02-05 15:21] fuzzbomb commented on #137
Let's close this one, effectively postponing it.  The MVP theme was committed to core a while back.  Meanwhile, the core plan for supporting Windows High Contrast mode hasn't gone beyond the fact-finding stage yet.

I'll add a task to review Umami in the Drupal.org plan  - [Make core themes more robust in Windows High-Contrast mode](https://www.drupal.org/project/ideas/issues/2894237)

[2018-02-05 17:48] fuzzbomb commented on #138
Follow-up has been created on Drupal.org

[Remove unnecessary TITLE and DESC elements from Umami SVG files](https://www.drupal.org/project/drupal/issues/2942258)

[2018-02-08 20:12] ckrina commented on #124
@kjays @thamas  I'd say we can close this issue in favour of creating component-by component issues in D.O. Do you agree?

[2018-02-09 18:17] ckrina commented on #112
Closing this issue in favour of D.O. issue: https://www.drupal.org/project/drupal/issues/2943353

[2018-02-09 18:18] #112 closed, assigned to ckrina

[2018-02-09 18:47] ckrina commented on #99
Closing this issue in favor the D.O. issue. Added a quick patch there ready to review: https://www.drupal.org/project/drupal/issues/2943657.

[2018-02-09 18:47] #99 closed, assigned to mariohernandez

[2018-02-09 18:51] ckrina commented on #27
This one can be closed since it's already addressed. Refinements can be D.O. issues.

![banner-left](https://user-images.githubusercontent.com/2225966/36044335-93d2fb4c-0dd2-11e8-8751-de756ce5d8c0.png)

[2018-02-09 18:51] #27 closed, assigned to nobody

[2018-02-09 18:54] ckrina commented on #28
It's not implemented in the designs for now, so closing. If it's needed in the future a D.O. issue can be created for it.

[2018-02-09 18:54] #28 closed, assigned to nobody

[2018-02-09 18:56] ckrina commented on #37
This is being addressed here, so closing. https://www.drupal.org/project/drupal/issues/2936879

[2018-02-09 18:56] #37 closed, assigned to nobody

[2018-02-09 19:15] ckrina commented on #43
Closing in favour the D.O. issue: https://www.drupal.org/project/drupal/issues/2943661

[2018-02-09 19:15] #43 closed, assigned to nobody

[2018-02-09 19:25] ckrina commented on #45
This issue is for the Magazine page. Currently it doesn't exist, and I'm not sure if we decided to leave it out intentionally or it's just that it isn't addressed yet.

I remember a discussion in a weekly call about if it had to be a regular page or not, but nothing else. Does anyone recall it?

![umami-magazine-mage](https://user-images.githubusercontent.com/2225966/36045686-d56ad1d4-0dd6-11e8-9a

[2018-02-09 19:31] ckrina commented on #47
Closing, already addressed.

![small-promo](https://user-images.githubusercontent.com/2225966/36046166-50e7840a-0dd8-11e8-806a-58f17274365b.png)

[2018-02-09 19:31] #47 closed, assigned to nobody

[2018-02-09 20:39] ckrina commented on #98
Closing in favour of the D.O. issue: https://www.drupal.org/project/drupal/issues/2943675

[2018-02-09 20:39] #98 closed, assigned to kjays

[2018-02-09 20:41] ckrina commented on #107
It's been addressed.

[2018-02-09 20:41] #107 closed, assigned to kjays

[2018-02-09 20:41] #119 closed, assigned to thamas

[2018-02-09 20:42] #133 closed, assigned to nobody

[2018-02-09 20:44] #138 closed, assigned to nobody

[2018-02-09 20:45] ckrina commented on #149
Closing in favour of D.O. issue: https://www.drupal.org/project/drupal/issues/2936880

[2018-02-09 20:45] #149 closed, assigned to thamas

[2018-02-10 22:40] #137 closed, assigned to nobody

[2018-02-10 22:40] #140 closed, assigned to nobody

[2018-02-10 22:42] markconroy commented on #45
As far as I remember, it was just going to be a basic page, with images cropped correctly and placed via the WYSIWYG.

It would be nice to have a magazine content type. I think we could do good things with it in the future.

[2018-09-09 21:13] budda opened #161 "Home page title should not include "Home""
The home page should not show the name "Home" in the title tags which get indexed by search engines.

```<title>Home | Umami Food Magazine</title>```

 It should just be the sitename shown as the title for the selected homepage:
```<title>Umami Food Magazine</title>```